.title {
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}
.subtitle {
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}
.search-container {
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}